.lightBoxOuter{
	text-align: center;
	width: 700px;
	height: 400px;
	top: 200px;
	left: 400px;
	position: absolute;
	display: none;
	background-color: rgba(0, 0, 0, .7);
}

img {
	margin: 0 auto;
	width: 500px;
	padding: 50px;
}

